:root {
  --background-color: #ecf0f3;

  --button-color: #7796f4;
  --button-color-hover: #3c61d3;

  --text-color-black: black;
  --text-color-white: white;
  --text-black-oppacity: #00000080;
}

::-webkit-scrollbar {
  width: 0.2em;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--background-color);
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  gap: 20px;

  box-sizing: border-box;

  width: 100%;
  height: 84px;

  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;

  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.3);
  background-color: var(--background-color);
}

.header__logo {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.search__bar {
  display: flex;

  font-size: 18px;
  width: 50%;
  height: 40px;

  padding: 0px 15px;

  border: none;
  border-radius: 15px;

  align-items: center;

  background-color: white;
}

.sign__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Roboto", sans-serif;
  font-size: 18px;

  padding: 12px;

  width: 10%;
  border-radius: 15px;
  box-shadow: inset -2px -2px 2px rgba(165, 187, 255, 0.5),
    inset 2px 2px 2px rgba(0, 0, 0, 0.25);

  background-color: var(--button-color);
  transition: 0.3s;

  color: var(--text-color-white);
  text-decoration: none;
}

.sign__button:hover {
  background-color: var(--button-color-hover);
}

.main__container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 30px 0px 0px 0px;

  width: 100%;
  height: 100%;
}

.nav__menu {
  position: fixed;
  top: 12, 5%;
  left: 2%;
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 17%;
  height: fit-content;

  background: #ecf0f3;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.7),
    2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.menu__logo {
  display: flex;

  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;

  justify-content: center;
  align-items: center;

  width: 70%;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.nav__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 32px;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.post__container {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  gap: 20px;
  width: 62%;
}

.post__box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px 20px;

  gap: 4px;

  width: fit-content;
  height: fit-content;

  background: #ecf0f3;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25),
    -2px -2px 4px rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

.user__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  width: fit-content;
  height: fit-content;
}

.user__info_picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.user__info_picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  cursor: pointer;
}

.name {
  display: inline-block;
  font-size: 16px;
  font-family: "Roboto", sans-serif;

  cursor: pointer;
}

.date {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #808080;
}

.post__content {
  width: fit-content;
  height: fit-content;
}

.post__content h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;

  cursor: pointer;
}

.post__content p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.read-more {
  color: var(--button-color);
  cursor: pointer;
}

.post__info {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 0px 10px;
  gap: 10px;

  width: 100%;
  height: fit-content;
}

@media (max-width: 650px) {
  .post__info {
    flex-direction: column;
  }
  .nav__menu {
    position: unset;
    width: 65%;
  }

  .main__container {
    flex-direction: column;
    align-items: center;
  }

  .post__container {
    margin-left: 0%;
  }

  .name {
    font-size: 1px;
  }

  .header {
    justify-content: space-around;
  }

  .sign__button {
    width: 27%;
  }
}

.post__tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: fit-content;
}

.tag {
  display: flex;
  align-items: center;
  padding: 10px 15px;

  width: fit-content;
  height: fit-content;

  background: var(--text-color-white);
  border-radius: 15px;

  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #808080;

  cursor: pointer;
}

.post__likes {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
  gap: 10px;

  width: fit-content;
  height: fit-content;

  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  color: #808080;

  cursor: pointer;
}

/*------SIGN UP CSS------ */

.main__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sign-up__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 700px;
  width: 50%;

  background: #ecf0f3;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35),
    -10px -10px 5px rgba(255, 255, 255, 0.35);
  border-radius: 10px;
}

.small_part-login {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0px 30px;

  height: 100%;
  width: 35%;

  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.small_part-sign-up {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0px 30px;

  height: 100%;
  width: 35%;

  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.small_part_content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: fit-content;
  width: 100%;
}

.small_part_content .sign__button {
  width: 55%;
  padding: 12px;
}

.small_part_content p {
  font-size: 2vw;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.1em;

  margin: 0;

  text-align: center;
}

.small_part_content h6 {
  font-size: 1.1vw;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1em;

  color: rgba(0, 0, 0, 0.5);
}

.big_part {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  width: 65%;
}

.big_part_content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  height: fit-content;
}

.big_part_content .sign__button {
  width: 55%;
  padding: 12px;
}

.big_part_content h3 {
  font-size: 1.1vw;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.1em;

  color: rgba(0, 0, 0, 0.5);
}

.big_part_content p {
  font-size: 2vw;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 50px;
  margin: 0;

  text-align: center;
  letter-spacing: 0.1em;
}

.auth {
  display: flex;
  justify-content: center;
  gap: 40%;

  width: 100%;
}

.auth img {
  cursor: pointer;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 130%;
}

.input-design {
  display: flex;
  padding: 12px 16px;

  border: none;
  background: #ecf0f3;
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.25),
    inset -3px -3px 2px 0px rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.big_part_content .sign__button {
  width: 50%;
  padding: 10px 0px;
}

@media (max-width: 1200px) {
  .input-fields {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .small_part-sign-up {
    width: 40%;
  }

  .small_part-login {
    width: 50%;
  }

  .input-fields {
    width: 50%;
  }
  .big_part_content p {
    font-size: 24px;
  }

  .big_part_content h3 {
    font-size: 3vw;
  }

  .small_part_content .sign__button {
    width: 100%;
  }

  .small_part_content p {
    font-size: 16px;
  }

  .small_part_content h6 {
    font-size: 2.5vw;
  }
  .auth {
    gap: 15%;
  }
}

.forgot_pass {
  cursor: pointer;
}

.error__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.error__message {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 25vw;
  letter-spacing: 0.05em;

  color: var(--background-color);

  text-shadow: -2px -2px 4px rgba(255, 255, 255, 0.8),
    2px 2px 4px rgba(0, 0, 0, 0.25);
}

.message {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 4vw;
  text-align: center;
  letter-spacing: 0.5em;

  color: rgba(0, 0, 0, 0.5);
}
